 .quote>div {
     font-size: 1.4em;
     margin: 50px auto;
     font-family: Open Sans;
     font-style: italic;
     color: #555555;
     padding: 1.2em 30px 1.2em 75px;
     border-left: 8px solid #7c6060;
     line-height: 1.6;
     position: relative;
     background: #EDEDED;
 }

 .quote>div:before {
     font-family: Arial;
     content: '\201C';
     color: #7c6060;
     font-size: 4em;
     position: absolute;
     left: 10px;
     top: -10px;
 }

 .quote>div:after {
     content: '';
 }

 @media (max-width: 600px) {
     .quote>div {
         font-size: 32px;
         line-height: 38px;
     }
 }